<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="      
	http://www.springframework.org/schema/beans      
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context      
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<!-- 权限框架引入 -->
	<description>Spring - Shiro</description>
    <!-- 认证实现类 -->
	<bean id="authRealm" class="cn.brave.web.shiro.AuthorityRealm" />
	<!-- 设置的权限认证管理中心 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="authRealm" />
	</bean>
	<!-- shiro过滤器整体配置 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">  
        <!-- Shiro的核心安全接口,这个属性是必须的 -->  
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份认证失败，则跳转到登录页面的配置 -->  
        <property name="loginUrl" value="/admin/login"/>
        <!-- 权限认证失败，则跳转到指定页面 -->  
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>  
        <!-- Shiro连接约束配置,即过滤链的定义 -->  
        <property name="filterChainDefinitions">  
            <value>  
                /login=anon
                /admin/login=anon
                /admin/**=authc
                /admin/**/**=authc
            </value>  
        </property>
        <!-- 验证规则
        	/admin/**=roles[teacher]
            /admin/user/**=perms["user:create"]
         -->
    </bean>
	<!-- 生命周期管理 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	<!-- shiro的注解开启 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>  
        <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">  
      <property name="securityManager" ref="securityManager"/>  
    </bean>
</beans>