<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.brave.dao.mappers.balance.JcUserBalanceMapper" >
  <resultMap id="BaseResultMap" type="cn.brave.entity.JcUserBalance" >
    <id column="JcUserBalance_id" property="id" jdbcType="INTEGER" />
    <result column="JcUserBalance_username" property="username" jdbcType="VARCHAR" />
    <result column="JcUserBalance_balance" property="balance" jdbcType="INTEGER" />
    <result column="JcUserBalance_purpose" property="purpose" jdbcType="CHAR" />
    <result column="JcUserBalance_operdate" property="operdate" jdbcType="TIMESTAMP" />
    <result column="JcUserBalance_remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    JcUserBalance.id as JcUserBalance_id, JcUserBalance.username as JcUserBalance_username, 
    JcUserBalance.balance as JcUserBalance_balance, JcUserBalance.purpose as JcUserBalance_purpose, 
    JcUserBalance.operdate as JcUserBalance_operdate, JcUserBalance.remark as JcUserBalance_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.brave.entity.JcUserBalanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from jc_userbalance JcUserBalance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jc_userbalance JcUserBalance
    where JcUserBalance.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jc_userbalance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.brave.entity.JcUserBalanceExample" >
    delete from jc_userbalance JcUserBalance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.brave.entity.JcUserBalance" >
    insert into jc_userbalance (id, username, balance, 
      purpose, operdate, remark
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{balance,jdbcType=INTEGER}, 
      #{purpose,jdbcType=CHAR}, #{operdate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.brave.entity.JcUserBalance" >
    insert into jc_userbalance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="purpose != null" >
        purpose,
      </if>
      <if test="operdate != null" >
        operdate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=CHAR},
      </if>
      <if test="operdate != null" >
        #{operdate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.brave.entity.JcUserBalanceExample" resultType="java.lang.Integer" >
    select count(*) from jc_userbalance JcUserBalance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jc_userbalance JcUserBalance
    <set >
      <if test="record.id != null" >
        JcUserBalance.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        JcUserBalance.username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null" >
        JcUserBalance.balance = #{record.balance,jdbcType=INTEGER},
      </if>
      <if test="record.purpose != null" >
        JcUserBalance.purpose = #{record.purpose,jdbcType=CHAR},
      </if>
      <if test="record.operdate != null" >
        JcUserBalance.operdate = #{record.operdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        JcUserBalance.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jc_userbalance JcUserBalance
    set JcUserBalance.id = #{record.id,jdbcType=INTEGER},
      JcUserBalance.username = #{record.username,jdbcType=VARCHAR},
      JcUserBalance.balance = #{record.balance,jdbcType=INTEGER},
      JcUserBalance.purpose = #{record.purpose,jdbcType=CHAR},
      JcUserBalance.operdate = #{record.operdate,jdbcType=TIMESTAMP},
      JcUserBalance.remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.brave.entity.JcUserBalance" >
    update jc_userbalance
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="purpose != null" >
        purpose = #{purpose,jdbcType=CHAR},
      </if>
      <if test="operdate != null" >
        operdate = #{operdate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.brave.entity.JcUserBalance" >
    update jc_userbalance
    set username = #{username,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=INTEGER},
      purpose = #{purpose,jdbcType=CHAR},
      operdate = #{operdate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>